/* Add this CSS in your styles.css or a similar file
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
/* Add this CSS in your styles.css or a similar file */
.filter-option {
    border: 0px solid black;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .filter-option.active {
    background: #FFF;
    color: #000;
  }
  
  .filter-option.inactive {
    /* background: #ECF0F3; */
    color: #000;
  }
    